<div>
  <%= attachment_image_tag @reptile, :image %>
  <p>投稿ユーザー画像: <%= image_tag('no_image.jpg') %></p>
  <p>記事タイトル: <%= @reptile.title %></p>
  <P>本文: <%= @reptile.caption %></P>
  <p>ユーザーネーム: <%= @reptile.user.name %></p>
  <% if @reptile.user == current_user %>
    <%= link_to "記事削除", reptile_path(@reptile), method: :delete %>
    <%= link_to "編集へ", edit_reptile_path(current_user) %>
    <% end %>

</div>